<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wegit.resources.mapper.VmMapper" >
  <resultMap id="BaseResultMap" type="wegit.resources.model.Vm" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="hostip" property="hostip" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hostip, ip, name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from vm
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap"  >
    select from vm
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vm
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="wegit.resources.model.Vm" >
    insert into vm (id, hostip, ip, 
      name)
    values (#{id,jdbcType=INTEGER}, #{hostip,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="wegit.resources.model.Vm" >
    insert into vm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hostip != null" >
        hostip,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hostip != null" >
        #{hostip,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="wegit.resources.model.Vm" >
    update vm
    <set >
      <if test="hostip != null" >
        hostip = #{hostip,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="wegit.resources.model.Vm" >
    update vm
    set hostip = #{hostip,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>